.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: teal !important;
}

.checkout-header {
    margin-top: 100px;

    code {
        background: yellow;
        padding: 2px 10px;
        border: 1px solid red;
        border-radius: 10px;
    }
}
.logout-info{
    z-index: 10000;
}